<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <!--  -->
            <div class="row mt-2">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">First Name</label>
                        <input type="text" id="first_name" formControlName="first_name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Last Name</label>
                        <input type="text" id="last_name" formControlName="last_name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Phone Number</label>
                        <input type="text" id="phone_number" formControlName="phone_number" class="form-control">
                    </div>
                </div>
            </div>
            
            <!-- <div class="row">
                <div class="col-xs-12">
                 <img src="" alt="" class="img-responsive">  
                </div>
            </div> -->
           
            <br>
            
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">{{ editMode ? 'EDIT': 'ADD'}}</button>&nbsp;
                    <!-- <button type="submit" class="btn btn-success">EDIT</button>&nbsp; -->
                    <button type="button" class="btn btn-danger" (click)="onCancel()">CANCEL</button>

                </div>
            </div>
        </form>

    </div>
</div>