<div class="row">
    
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ album.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <!-- <div class="btn-group" >
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage Recipe <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">To Shopping List</a></li>
          <li><a href="#">Edit Recipe</a></li>
          <li><a href="#">Delete Recipe</a></li>
        </ul>
      </div> -->
    </div>
  </div>
  
  <button type="button" class="btn btn-dark" (click)="onEditAlbum()">Edit Recipe</button>
  <button type="button" class="btn btn-danger" (click)="onDeleteAlbum()">Delete Recipe</button>
  
  <div class="row">
    <div class="col-xs-12">
     
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
  
    </div>
  </div>