<!-- <div class="row">
    <div class="col-xs-12">
        <form [formGroup]="photoForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">ADD</button>&nbsp;
                    <button type="button" class="btn btn-danger">DELETE</button>

                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">User Id</label>
                        <input type="text" id="user_id" formControlName="user_id" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Album Id</label>
                        <input type="text" id="album_id" formControlName="album_id" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image Path</label>
                        <input type="text" id="imagePath" formControlName="image_url" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                 <img src="" alt="" class="img-responsive">  
                </div>
            </div>
           
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">{{ editMode ? 'EDIT': 'ADD'}}</button>&nbsp;
                     <button type="submit" class="btn btn-success">EDIT</button>&nbsp; -->
                    <!-- <button type="button" class="btn btn-danger" (click)="onCancel()">CANCEL</button>

                </div>
            </div>
            
        </form>

    </div>
</div> --> 
